.find,
.reset {
  align-items: center;
  width: 235px;
  padding: 18px 30px;
  font-size: 20px;
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.find {
  margin-right: 30px;
  background: var(--green400-color);
}

.find:hover {
  background: var(--green300-color);
  cursor: pointer;
}

.find:active {
  background: var(--green200-color);
}

.reset {
  color: var(--green400-color);
  background: var(--green100-color);
}

.reset:hover {
  background: var(--gray100-color);
  cursor: pointer;
}

.reset:active {
  background: var(--gray200-color);
}

/*___media___*/
@media (max-width: 1024px) {

  .find,
  .reset {
    width: 235px;
    font-size: 20px;
  }

}

/*770px___________________________________________________*/
@media (max-width: 770px) {

  .find,
  .reset {
    width: 177px;
  }
}

/*660px___________________________________________________*/
@media (max-width: 660px) {
  .find {
    margin-right: 10px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  .find,
  .reset {
    width: 134px;
    padding: 14px 29px;
    font-size: 16px;
  }
}

/*359px___________________________________________________*/
@media (max-width: 359px) {

  .find,
  .reset {
    width: 90px;
    padding: 12px 12px;
    font-size: 14px;
  }
}