.inner:not(:last-child) {
  margin-right: 31px;
}

.item {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.text {
  max-width: 250px;
  cursor: pointer;
}

.item+.text {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.item+.text::before {
  width: 24px;
  height: 24px;
  margin-right: 11px;

  border: 1px solid var(--black-color);
  border-radius: 0.60em;
  content: '';
}

.item:checked+.text::before {
  position: relative;
  font-size: 59px;
  text-align: center;
  content: '•';
}


/*550px___________________________________________________*/
@media (max-width: 550px) {

  .inner:not(:last-child) {
    margin-right: 30px;
  }

  .item+.text::before {
    width: 19px;
    height: 19px;
    margin-right: 9px;
    border-radius: 0.80em;
  }
}