.wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 999;
  display: block;
  width: 100%;
  transform: translateX(-50%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1168px;
  margin: auto;
  padding: 27px 57px 29px;
}

.logo,
.telephoneNumber {
  fill: var(--white-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 468px;
  margin: 0;
  padding: 0 10px 4px 10px;
  list-style-type: none;
}

.menuItem:not(:last-child) {
  padding-right: 10px;
}

.menuItemAnchor {
  font-size: 20px;
  white-space: nowrap;
  color: var(--white-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.menuItemAnchor:hover {
  border-bottom: 1px solid var(--white-color)
}

.scrolledFixBgn {
  position: fixed;
  background-color: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);

  animation: appearing 2s;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scrolledColor {
  color: var(--black-color);
  fill: var(--black-color);
}

.scrolledHover:hover {
  border-bottom: 1px solid var(--black-color)
}

@media (max-width: 1024px) {

  .logo svg {
    width: 181.828px;
  }

  .menu {
    max-width: 408px;
  }

  .menuItemAnchor {
    font-size: 20px;
  }

  .telephoneNumber svg {
    width: 155px;
  }
}

@media (max-width: 820px) {

  .navbar {
    padding: 27px 30px 29px;
  }
}

@media (max-width: 770px) {

  .navbar {
    padding: 28px 20px 12px;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 550px) {

  .logo svg {
    width: 133px;
  }

  .telephoneNumber svg {
    width: 124px;
  }
}

@media (max-width: 359px) {

  .logo svg {
    width: 113px;
  }

  .telephoneNumber svg {
    width: 104px;
  }
}