/*___choose-tour___*/
.wrapper {
  overflow: hidden;
  width: 100%;
  border-radius: 50px;
}

.inner {
  height: 100%;
  transition: transform 0.3s ease;
}


.img1 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../../../public/images/chooseTour/card_tour_photo_1.png');
}

.img2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../../../public/images/chooseTour/card_tour_photo_2.png');
}

.img3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../../../public/images/chooseTour/card_tour_photo_3.png');
}

.img4 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../../../public/images/chooseTour/card_tour_photo_4.png');
}

.img5 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../../../public/images/chooseTour/card_tour_photo_5.png');
}

.img6 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../../../public/images/chooseTour/card_tour_photo_6.png');
}

.content {
  position: sticky;
  bottom: 892px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 531px;
  padding: 50px 50px 50px 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.title {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0 23px 0 0;
  padding: 0 0 32px 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  color: var(--white-color);
}

.title::after {
  position: absolute;
  bottom: -9px;
  left: 20px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--white-color);
  content: attr(data-price);
}

.link {
  position: relative;
  bottom: 0;
  left: 0;
}

.linkItem {
  box-sizing: border-box;
  padding: 7px 32px 7px 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  color: var(--white-color);
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.linkItem::after {
  position: relative;
  left: 11px;
  content: url('../../../../public/images/VectorRight.svg');
}

.wrapper:hover .inner {
  transform: scale(1.2);
  cursor: pointer;
}

.wrapper:hover .linkItem {
  background-color: var(--green400-color);
  border-radius: 50px;
}

.wrapper:hover .linkItem:active {
  color: var(--white-color);
  background-color: var(--orange200-color);
  border-radius: 50px;
}


/*___media___*/
@media (max-width: 1024px) {

  /*  */
  /* __choose-tour__ */
  .wrapper {
    width: 100%;
  }

  .content {
    padding: 50px 39px 50px 30px;
  }

  .title {
    font-size: 35px;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {

  /*  */
  /* __choose-tour__ */
  .content {
    padding: 14% 14% 14% 8%;
  }

  .title {
    font-size: 28px;
  }

  .linkItem {
    font-size: 19px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  /*  */
  /* __choose-tour__ */
  .wrapper {
    width: 100%;
    border-radius: 20px;
  }

  .content {
    min-height: 318px;
    padding: 25px 25px 28px 5px;
  }

  .title {
    font-size: 23px;
    letter-spacing: 0.92px;
  }

  .title::after {
    bottom: -4px;
    font-size: 16px;
  }

  .linkItem {
    font-size: 16px;
  }

  .linkItem::after {
    position: relative;
    top: 3px;
    left: 13px;
    content: url('../../../../public/images/VectorRight.svg');
  }
}