.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
  max-width: 1170px;
  margin: auto;
  padding: 100px 30px 0;
}

/*___choose-tour___*/
.inner {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 531px;
  border-radius: 50px;
}

.img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.content {
  position: sticky;
  bottom: 892px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 531px;
  padding: 50px 50px 50px 30px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  box-sizing: border-box;
  cursor: pointer;
}

.title {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0 23px 0 0;
  padding: 0 0 32px 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  color: var(--white-color);
}

.title::after {
  position: absolute;
  bottom: -9px;
  left: 20px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--white-color);
  content: attr(data-price);
}

.link {
  position: relative;
  bottom: 0;
  left: 0;
}

.linkItem {
  box-sizing: border-box;
  padding: 7px 32px 7px 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  color: var(--white-color);
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.linkItem::after {
  position: relative;
  left: 11px;
  content: url('../../../../public/images/VectorRight.svg');
}

.inner:hover .img {
  transform: scale(1.2);
  cursor: pointer;
}

.inner:hover .linkItem {
  background-color: var(--green400-color);
  border-radius: 50px;
}

.inner:hover .linkItem:active {
  color: var(--white-color);
  background-color: var(--orange200-color);
  border-radius: 50px;
}


/*___media___*/
@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 18px;
    justify-content: center;
  }

  .content {
    padding: 50px 39px 50px 30px;
  }

  .title {
    font-size: 35px;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {
  .content {
    padding: 14% 14% 14% 8%;
  }

  .title {
    font-size: 28px;
  }

  .linkItem {
    font-size: 19px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {
  .wrapper {
    max-width: 549px;
    margin: inherit;
    padding: 45px 21px 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .inner {
    max-height: 318px;
    border-radius: 20px;
  }

  .img {
    border-radius: 20px;
  }

  .content {
    min-height: 318px;
    padding: 25px 25px 28px 5px;
  }

  .title {
    font-size: 23px;
    letter-spacing: 0.92px;
  }

  .title::after {
    bottom: -4px;
    font-size: 16px;
  }

  .linkItem {
    font-size: 16px;
  }

  .linkItem::after {
    position: relative;
    top: 3px;
    left: 13px;
    content: url('../../../../public/images/VectorRight.svg');
  }
}