.text {
  max-width: 723px;
  margin: auto;
  padding: 135px 20px 0;
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
  text-align: center;
  color: var(--black-color);
}

/*770px___________________________________________________*/
@media (max-width: 770px) {
  .text {
    padding-top: 76px;
    font-size: 50px;
    line-height: 112%;
    letter-spacing: 0.68px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {
  .text {
    font-size: 34px;
  }

}

/*359px___________________________________________________*/
@media (max-width: 359px) {
  .text {
    font-size: 28px;
  }
}