.wrapper {
  width: 100%;
  margin-bottom: 33px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 152px;
  margin-top: 8px;
  padding: 20px 45px 20px 20px;
  color: var(--black-color);
  background: var(--beige100-color);
  border: 1px solid var(--beige200-color);
  border-radius: 10px;
  outline: none;
  resize: none;
}

.item:hover {
  background: var(--beige200-color);
  cursor: pointer;
}

.item:focus {
  border: 1px solid var(--gray300-color);
}

/*___media___*/
@media (max-width: 1024px) {
  .item {
    padding: 20px 45px 20px 20px;
  }
}

/*660px___________________________________________________*/
@media (max-width: 660px) {
  .wrapper {
    margin-bottom: 30px;
  }
}


/*550px___________________________________________________*/
@media (max-width: 550px) {
  .item {
    height: 132px;
    padding: 10px 31px 10px 10px;
  }
}