@import url('normalize.css');

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Thin.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Light.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Medium.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Bold.ttf') format('TrueType');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Black.ttf') format('TrueType');
}

:root {
  --black-color: #1B1F2B;
  --orange200-color: #EFA501;
  --green400-color: #286562;
  --gray300-color: #A6A6A6;
  --beige200-color: #F4F0E9;

  --white-color: #FFFFFF;
  --orange100-color: #F8E6BE;
  --green300-color: #3B7E7B;
  --gray200-color: #D9DFDB;
  --beige100-color: #F9F7F4;

  --green200-color: #627F7E;
  --gray100-color: #F1F3F2;
  --green100-color: #E0F0E5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.bgc-1 {
  background: var(--beige100-color);
}

.bgp-1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pb-1 {
  padding-bottom: 200px;
}

/*___media___*/
@media (max-width: 1024px) {
  .pb-1 {
    padding-bottom: 198px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {
  .pb-1 {
    padding-bottom: 134px;
  }
}