@import url('normalize.css');

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Thin.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Light.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Medium.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Bold.ttf') format('TrueType');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('../../public/fonts/Roboto-Black.ttf') format('TrueType');
}

:root {
  --black-color: #1B1F2B;
  --orange200-color: #EFA501;
  --green400-color: #286562;
  --gray300-color: #A6A6A6;
  --beige200-color: #F4F0E9;

  --white-color: #FFFFFF;
  --orange100-color: #F8E6BE;
  --green300-color: #3B7E7B;
  --gray200-color: #D9DFDB;
  --beige100-color: #F9F7F4;

  --green200-color: #627F7E;
  --gray100-color: #F1F3F2;
  --green100-color: #E0F0E5;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.bgc-1 {
  background: var(--beige100-color);
}

.bgp-1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*___greeting___*/
.greeting {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../public/images/greeting/greetingBackgroundImg.png');
}

/*___collect-tour___*/
.collect-tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collect-tour__container {
  max-width: 1200px;
  margin: 99px auto 0;
  padding: 0 30px;
}

.form-fill {
  box-sizing: border-box;
  max-width: 1170px;
  margin: auto;
  padding: 70px;
  background-color: var(--white-color);
  border-radius: 50px;
}

.form-fill>* {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-fields,
.comment-field,
.radio-fields,
.agreement-field,
.buttons-group {
  width: 100%;
}

.input-fields__name,
.input-fields__dropdown,
.input-fields__email,
.input-fields__phone,
.input-fields__dateFrom,
.input-fields__dateTo,
.comment-field,
.radio-fields,
.agreement-field {
  margin-bottom: 33px;
}

.input-fields__name,
.input-fields__dropdown,
.input-fields__email,
.input-fields__phone,
.input-fields__dateFrom,
.input-fields__dateTo {
  width: calc(50% - 15px);
}

.input-fields__name-label,
.input-fields__dropdown-label,
.input-fields__email-label,
.input-fields__phone-label,
.input-fields__dateFrom-label,
.input-fields__dateTo-label,
.comment-field__label,
.legend-title {
  color: var(--black-color);
}

.input-fields__dropdown-select-item,
.input-fields__dateFrom-input[type="date"]::-webkit-calendar-picker-indicator,
.input-fields__dateTo-input[type="date"]::-webkit-calendar-picker-indicator {
  /* уберем стрелку у select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* уберем значок календаря у (input type="date") */
  display: none;
}

.input-fields__name-input,
.input-fields__dropdown-select-item,
.input-fields__email-input,
.input-fields__phone-input,
.input-fields__dateFrom-input,
.input-fields__dateTo-input,
.comment-field__textarea {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  margin-top: 8px;
  padding: 20px 45px 20px 20px;
  color: var(--black-color);
  background: var(--beige100-color);
  border: 1px solid var(--beige200-color);
  border-radius: 10px;
  outline: none;
}

.input-fields__name-input::placeholder,
.input-fields__dropdown-select-item,
.input-fields__email-input::placeholder,
.input-fields__phone-input::placeholder {
  color: var(--gray300-color);
}

.input-fields__dropdown-select-item_active {
  color: var(--black-color);
}

.input-fields__name-input:hover,
.input-fields__dropdown-select-item:hover,
.input-fields__email-input:hover,
.input-fields__phone-input:hover,
.input-fields__dateFrom-input:hover,
.input-fields__dateTo-input:hover,
.comment-field__textarea:hover {
  background: var(--beige200-color);
  cursor: pointer;
}

.input-fields__name-input:focus,
.input-fields__dropdown-select-item:focus,
.input-fields__email-input:focus,
.input-fields__phone-input:focus,
.input-fields__dateFrom-input:focus,
.input-fields__dateTo-input:focus,
.comment-field__textarea:focus {
  border: 1px solid var(--gray300-color);
}

.input-fields__dropdown-select {
  position: relative;
}

.input-fields__dropdown-select::before {
  position: absolute;
  top: 50%;
  right: 23.59px;
  transform: translateY(-50%);
  pointer-events: none;
  content: url('../../public/images/VectorDown.svg');
}

.input-fields__dateFrom-input,
.input-fields__dateTo-input {
  text-transform: uppercase;
  color: var(--gray300-color);
}

.comment-field__textarea {
  height: 152px;
  resize: none;
}

.radio-fields {
  margin-left: 0;
  padding: 0;
  border: 0;
}

.radio-group {
  display: flex;
  height: 28px;
  margin-top: 6px;
}

.radio-group__item-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-group__item:not(:last-child) {
  margin-right: 31px;
}

.radio-group__item-label {
  max-width: 250px;
  cursor: pointer;
}

.radio-group__item-input+.radio-group__item-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio-group__item-input+.radio-group__item-label::before {
  width: 24px;
  height: 24px;
  margin-right: 11px;

  border: 1px solid var(--black-color);
  border-radius: 0.60em;
  content: '';
}

.radio-group__item-input:checked+.radio-group__item-label::before {
  position: relative;
  font-size: 59px;
  text-align: center;
  content: '•';
}

.agreement-field {
  display: flex;
  height: 26px;
}

.agreement-field__input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.agreement-field__input+.agreement-field__customCheckbox {
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.agreement-field__input+.agreement-field__customCheckbox::before {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 19px;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  border-color: var(--black-color);
  border-radius: 0.25em;
  content: '';
}

.agreement-field__input:checked+.agreement-field__customCheckbox::before {
  position: relative;
  font-size: 20px;
  text-align: center;
  border-radius: 0.25em;
  content: '✔';
}

.agreement-field__text {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  color: var(--gray300-color);
}

.agreement-field__link {
  color: var(--black-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.agreement-field__link:hover {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}

.agreement-field__link:active {
  color: var(--green400-color);
  border-bottom: 1px solid var(--green400-color);
}

.buttons-group__find,
.buttons-group__reset {
  align-items: center;
  width: 235px;
  padding: 18px 30px;
  font-size: 20px;
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.buttons-group__find {
  margin-right: 25px;
  background: var(--green400-color);
}

.buttons-group__find:hover {
  background: var(--green300-color);
  cursor: pointer;
}

.buttons-group__find:active {
  background: var(--green200-color);
}

.buttons-group__reset {
  color: var(--green400-color);
  background: var(--green100-color);
}

.buttons-group__reset:hover {
  background: var(--gray100-color);
  cursor: pointer;
}

.buttons-group__reset:active {
  background: var(--gray200-color);
}

.pb-1 {
  padding-bottom: 200px;
}

/*___media___*/
@media (max-width: 1024px) {

  /*  */
  /* __collect-tour__ */
  .collect-tour__container {
    max-width: 918px;
    margin-top: 99px;
    padding: 0 30px;
  }

  .form-fill {
    padding: 60px;
    border-radius: 50px;
  }

  .input-fields__name,
  .input-fields__dropdown,
  .input-fields__email,
  .input-fields__phone,
  .input-fields__dateFrom,
  .input-fields__dateTo {
    width: calc(50% - 10px);
  }

  .input-fields__name-input,
  .input-fields__dropdown-select-item,
  .input-fields__email-input,
  .input-fields__phone-input,
  .input-fields__dateFrom-input,
  .input-fields__dateTo-input,
  .comment-field__textarea {
    padding: 20px 45px 20px 20px;
  }

  .input-fields__dropdown-select::before {
    right: 23.59px;
  }

  .input-fields__name-input::placeholder,
  .input-fields__dropdown-select-item,
  .input-fields__email-input::placeholder,
  .input-fields__phone-input::placeholder,
  .input-fields__dateFrom-input,
  .input-fields__dateTo-input {
    font-size: 20px;
  }

  .agreement-field__input+.agreement-field__customCheckbox::before {
    margin-right: 11px;
  }

  .buttons-group__find,
  .buttons-group__reset {
    width: 235px;
    font-size: 20px;
  }

  .buttons-group__find {
    margin-right: 25px;
  }

  .pb-1 {
    padding-bottom: 198px;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {

  /*  */
  /* __collect-tour__ */
  .input-fields__name-input::placeholder,
  .input-fields__dropdown-select-item,
  .input-fields__email-input::placeholder,
  .input-fields__phone-input::placeholder,
  .input-fields__dateFrom-input,
  .input-fields__dateTo-input {
    font-size: 18px;
  }

  .buttons-group__find,
  .buttons-group__reset {
    width: 177px;
  }


}

/*660px___________________________________________________*/
@media (max-width: 660px) {

  /*  */
  /* __collect-tour__ */
  .input-fields {
    flex-direction: column;
  }

  .input-fields__name,
  .input-fields__dropdown,
  .input-fields__email,
  .input-fields__phone,
  .input-fields__dateFrom,
  .input-fields__dateTo,
  .comment-field,
  .radio-fields,
  .agreement-field {
    width: 100%;
    margin-bottom: 30px;
  }

  .buttons-group__find {
    margin-right: 10px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  /*  */
  /* __collect-tour__ */
  .collect-tour__container {
    margin-top: 39px;
    padding: 0 21px;
  }

  .form-fill>* {
    font-size: 16px;
  }

  .form-fill {
    padding: 22px 20px 40px 20px;
    border-radius: 30px;
  }

  .input-fields__name-input,
  .input-fields__dropdown-select-item,
  .input-fields__email-input,
  .input-fields__phone-input,
  .input-fields__dateFrom-input,
  .input-fields__dateTo-input,
  .comment-field__textarea {
    padding: 10px 31px 10px 10px;
  }

  .input-fields__name-input,
  .input-fields__email-input,
  .input-fields__phone-input,
  .input-fields__dateFrom-input,
  .input-fields__dateTo-input {
    height: 43.5px;
  }

  .input-fields__dropdown-select-item {
    height: 46px;
  }

  .input-fields__dropdown-select::before {
    top: 54%;
    right: 13.59px;
  }

  .input-fields__name-input::placeholder,
  .input-fields__dropdown-select-item,
  .input-fields__email-input::placeholder,
  .input-fields__phone-input::placeholder,
  .input-fields__dateFrom-input,
  .input-fields__dateTo-input {
    font-size: 16px;
  }

  .comment-field__textarea {
    height: 132px;
  }

  .radio-group {
    height: 23px;
    margin-top: 8px;
  }

  .radio-group__item:not(:last-child) {
    margin-right: 30px;
  }

  .radio-group__item-input+.radio-group__item-label::before {
    width: 19px;
    height: 19px;
    margin-right: 9px;
    border-radius: 0.80em;
  }

  .agreement-field {
    height: 100%;
  }

  .agreement-field__input+.agreement-field__customCheckbox::before {
    width: 19px;
    height: 19px;
  }

  .agreement-field__text {
    font-size: 16px;
    letter-spacing: -0.17px;
  }

  .agreement-field__input+.agreement-field__customCheckbox::before {
    margin-right: 10px;
  }

  .buttons-group__find,
  .buttons-group__reset {
    width: 134px;
    padding: 14px 29px;
    font-size: 16px;
  }

  .buttons-group__find {
    margin-right: 5px;
  }

  .pb-1 {
    padding-bottom: 134px;
  }
}

/*359px___________________________________________________*/
@media (max-width: 359px) {

  /*  */
  /* __collect-tour__ */
  .buttons-group__find,
  .buttons-group__reset {
    width: 90px;
    padding: 12px 12px;
    font-size: 14px;
  }
}