.wrapper {
  width: calc(50% - 15px);
  margin-bottom: 33px;
}

.inpDate {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  margin-top: 8px;
  padding: 20px 45px 20px 20px;
  color: var(--black-color);
  background: var(--beige100-color);
  border: 1px solid var(--beige200-color);
  border-radius: 10px;
  outline: none;
}

.inpDate[type="date"]::-webkit-calendar-picker-indicator {
  /* уберем значок календаря у (input type="date") */
  display: none;
}

.inpDate:hover {
  background: var(--beige200-color);
  cursor: pointer;
}

.inpDate:focus {
  border: 1px solid var(--gray300-color);
}

.inpDate {
  text-transform: uppercase;
  color: var(--gray300-color);
}

/*___media___*/
@media (max-width: 1024px) {

  .wrapper {
    width: calc(50% - 10px);
  }

  .inpDate {
    padding: 20px 45px 20px 20px;
    font-size: 20px;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {
  .inpDate {
    font-size: 18px;
  }
}

/*660px___________________________________________________*/
@media (max-width: 660px) {
  .wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  .inpDate {
    height: 43.5px;
    padding: 10px 31px 10px 10px;
    font-size: 16px;
  }
}