/*___stories___*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1170px;
  margin: 100px auto 0;
  padding: 0 30px;
}

.inner {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 567px;
  border-radius: 50px;
}

.inner:not(:last-child) {
  margin-bottom: 49px;
}

.img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 567px;
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.content {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 60px 60px 60px 40px;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  cursor: pointer;
}

.title {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 554px;
  margin: 0;
  padding: 0 0 37px 0;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  color: var(--white-color);
}

.boxText {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 554px;
  margin: 0;
  padding: 0 0 115px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: var(--white-color);
}

.description,
.advantages {
  margin: 0;
}

.dn {
  display: none;
}

.description {
  padding-bottom: 25px;
}

.advantages {
  padding-left: 12px;
  list-style: none;
}

.advantages .advantagesItem::before {
  margin-right: 10px;
  font-size: 20px;
  content: "•";
}

.linkGroup {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.linkBtn {
  position: relative;
  bottom: 0;
  left: 0;
}

.linkItemBtn {
  box-sizing: border-box;
  padding: 7px 32px 7px 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  color: var(--white-color);
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.linkItemBtn::after {
  position: relative;
  left: 15px;
  content: url('../../../../public/images/VectorRight.svg');
}

.linkItemSocial {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: var(--white-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.linkItemSocial:not(:last-child) {
  margin-right: 31px;
}

.linkItemSocial:hover {
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.linkItemSocial:active {
  color: var(--orange200-color);
  border-bottom: 1px solid var(--orange200-color);
}

.inner:hover .img {
  transform: scale(1.2);
  cursor: pointer;
}

.inner:hover .linkItemBtn {
  background-color: var(--green400-color);
  border-radius: 50px;
}

.inner:hover .linkItemBtn:active {
  color: var(--white-color);
  background-color: var(--orange200-color);
  border-radius: 50px;
}

.pb-1 {
  padding-bottom: 200px;
}

/*___media___*/
@media (max-width: 1024px) {

  /*  */
  /* __stories__ */
  .wrapper {
    max-width: 918px;
    margin-top: 100px;
    padding: 0 30px;
  }

  .inner {
    border-radius: 50px;
  }

  .inner:not(:last-child) {
    margin-bottom: 49px;
  }

  .title {
    font-size: 35px;
  }

  .boxText {
    padding-bottom: 111px;
  }

  .pb-1 {
    padding-bottom: 198px;
  }

  .description,
  .advantages {
    font-size: 20px;
    line-height: 144%;
  }

  .linkItemBtn {
    font-size: 23px;
  }

  .linkItemBtn::after {
    top: 0px;
    left: 15px;
  }

  .linkItemSocial {
    font-size: 20px;
  }

  .linkItemSocial:not(:last-child) {
    margin-right: 31px;
  }

}

/*770px___________________________________________________*/
@media (max-width: 770px) {


  /*  */
  /* __stories__ */
  .title {
    font-size: 23px;
  }

  .description,
  .advantages,
  .linkItemBtn {
    font-size: 16px;
  }

  .linkItemSocial {
    font-size: 14px;
  }

  .linkItemSocial:not(:last-child) {
    margin-right: 10px;
  }

}


/*550px___________________________________________________*/
@media (max-width: 550px) {

  /*  */
  /* __stories__ */
  .wrapper {
    max-width: 549px;
    margin-top: 51px;
    padding: 0 21px;
  }

  .inner {
    max-height: 455px;
    border-radius: 20px;
  }

  .inner:not(:last-child) {
    margin-bottom: 20px;
  }

  .img {
    max-height: 455px;
    border-radius: 20px;
  }

  .content {
    padding: 30px 30px 32px 10px;
  }

  .title {
    max-width: 162px;
    padding-bottom: 20px;
    font-size: 23px;
    letter-spacing: 0.92px;
  }

  .boxText {
    padding-bottom: 64px;
  }

  .pb-1 {
    padding-bottom: 134px;
  }

  .linksSocials {
    display: none;
  }

  .description {
    padding-bottom: 24px;
  }

  .advantages {
    padding-left: 9px;
    line-height: 137%;
  }

  .linkItemBtn::after {
    top: 2px;
    left: 17px;
  }

  .linkItemSocial {
    font-size: 16px;
  }

  .linkItemSocial:not(:last-child) {
    margin-right: 5px;
  }

}