.text {
  max-width: 418px;
  margin: auto;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  color: var(--gray300-color);
}

/*___media___*/
/*770px___________________________________________________*/
@media (max-width: 770px) {
  .text {
    font-size: 16px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {
  .text {
    max-width: 318px;
    padding-top: 20px;
    font-size: 16px;
  }
}

/*359px___________________________________________________*/
@media (max-width: 359px) {
  .text {
    font-size: 14px;
  }
}