.generalText {
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
}

.mainText {
  max-width: 562px;
  padding-top: 50px;
  color: var(--white-color);
}

.minorText {
  max-width: 418px;
  padding-top: 30px;
  color: var(--gray300-color);
}

@media (max-width: 1024px) {

  .mainText {
    max-width: 442px;
    padding-top: 50px;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {

  .generalText {
    font-size: 16px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  .mainText {
    max-width: 310px;
    padding-top: 40px;
  }

  .minorText {
    max-width: 318px;
    padding-top: 20px;
  }
}

/*359px___________________________________________________*/
@media (max-width: 359px) {

  .minorText {
    font-size: 14px;
  }
}