.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 30px 30px;
  margin: 100px auto 0;
  padding: 0 30px;
}


.img1 {
  width: 100%;
  height: 301px;
  border-radius: 50px;
  grid-column: span 5;
  object-fit: cover;
}

.img1:nth-child(n+5):nth-child(-n+9) {
  width: 100%;
  height: 301px;
  border-radius: 50px;
  grid-column: span 4;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .wrapper {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 20px;
    margin-top: 98px;
    padding: 0 20px;
  }

  .img1 {
    grid-column: span 4;
  }

  .img1:nth-child(n+5):nth-child(-n+9) {
    grid-column: span 3;
  }

  .img1:nth-child(2),
  .img1:nth-child(7),
  .img1:nth-child(13) {
    display: none;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {

  .wrapper {
    margin-top: 47px;
    padding: 0 21px;
    gap: 18px 10px;
  }

  .img1 {
    height: 180px;
    border-radius: 20px;
    grid-column: span 6;
  }

  .img1:nth-child(n+5):nth-child(-n+9) {
    height: 180px;
    border-radius: 20px;
    grid-column: span 4;
  }


  .img1:nth-child(3),
  .img1:nth-child(6),
  .img1:nth-child(12) {
    display: none;
  }

}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  .img1,
  .img1:nth-child(n+5):nth-child(-n+9) {
    height: 110px;
  }
}